<h3>My borrowed books</h3>
<hr>
<div *ngIf="!selectedBook">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Rate</th>
        <th scope="col"><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of borrowedBooks.content; let index = index">
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.authorName }}</td>
        <td>{{ book.isbn }}</td>
        <td><i class="fas fa-star text-warning"></i>{{ book.rate }}</td>
        <td>
          <div class="d-flex gap-2">
            <i *ngIf="book.returned" class="fa-regular fa-paper-plane cursor-pointer text-primary"></i>
            <i *ngIf="!book.returned" class="fa-solid fa-paper-plane cursor-pointer text-success"
              (click)="returnBorrowedBook(book)"></i>
            <i class="fa-solid fa-circle-check cursor-pointer" [class.text.success]="book.returnApproved"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" aria-label="Previous" [class.disabled]="page === 0"
            (click)="goToFirstPage()">
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" aria-label="Previous" [class.disabled]="page === 0"
            (click)="goToPreviousPage()">
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li class="page-item" *ngFor="let item of [].constructor(this.borrowedBooks.totalPages); let pageIndex = index">
          <a class="page-link" href="javascript:void(0)" [class.active]="page === pageIndex"
            (click)="goToPage(pageIndex)">
            {{ pageIndex + 1 }}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" aria-label="Next" [class.disabled]="isLastPage"
            (click)="goToNextPage()">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" aria-label="Next" [class.disabled]="isLastPage"
            (click)="goToLastPage()">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="d-flex flex-column col-6" *ngIf="selectedBook">
  <h4>Return and share feedback</h4>
  <div class="d-flex flex-column col-12">
    <div class="d-flex">
      <div class="col-1">
        <strong>Title</strong>
      </div>
      <div class="col-11">{{ selectedBook.title }}</div>
    </div>
    <div class="d-flex">
      <div class="col-1">
        <strong>Author</strong>
      </div>
      <div class="col-11">{{ selectedBook.authorName }}</div>
    </div>
    <div class="d-flex">
      <div class="col-1">
        <strong>ISBN</strong>
      </div>
      <div class="col-11">{{ selectedBook.isbn }}</div>
    </div>
    <div class="d-flex">
      <div class="col-1">
        <strong>Rate</strong>
      </div>
      <div class="col-11">{{ selectedBook.rate }}</div>
    </div>
  </div>
  <hr>
  <div class="col-12">
    <form class="row g-3">
      <div class="d-flex gap-3">
        <input type="range" id="rate" class="form-range w-25" name="rate" [(ngModel)]="feedbackRequest.note" min="0"
          max="5" step="0.5">
        <app-rating [rating]="feedbackRequest.note || 0"></app-rating>
        {{ feedbackRequest.note }}
      </div>
      <div class="col-12">
        <label for="feedback" class="form-label">Feedback</label>
        <textarea name="feedback" id="feedback" class="form-control" rows="4" [(ngModel)]="feedbackRequest.comment"
          placeholder="Feedback"></textarea>
      </div>
      <div class="d-flex justify-content-end gap-2 col-12">
        <button (click)="returnBook(true)" type="submit" class="btn btn-outline-primary"><i
            class="fas fa-save"></i>&nbsp;Rate the
          book & return</button>
        <button (click)="returnBook(false)" type="submit" class="btn btn-outline-success"><i
            class="fa-solid fa-paper-plane"></i>&nbsp;Just return</button>
        <button (click)="selectedBook = undefined" class="btn btn-link text-danger"><i class="fas fa-times"></i>Cancel</button>
      </div>
    </form>
  </div>
</div>
